extends layout

block content
  -var selected = 'Home';
  #whatwedo
    .container
      .row
        h1.centertext.heading#ibuild building quality applications for
      .row
        .col-sm-4.col-md-4
          img.img-responsive.centercontents(src="img/circle-mobiledev.png")
          p.centertext.devtype MOBILE
        .col-sm-4.col-md-4
          img.img-responsive.centercontents(src="img/circle-webdev.png")
          p.centertext.devtype WEB &amp; DESKTOP
        .col-sm-4.col-md-4
          img.img-responsive.centercontents(src="img/circle-cloud.png")
          p.centertext.devtype CLOUD
  #process
    .arrow-down
    .container.centercontents
      .row.theprocess
        h1.centertext.heading.theprocess the process
      .row
        .col-sm-4.col-md-4
          .processitem.borderround
            h3.centertext
              i.fa.fa-check-square-o.fa-2x.vertical  
              span     Consultation
              p We meet with you to decide on the most appropriate application for your needs. This
                | may mean meeting with 
        .col-sm-4.col-md-4
          .processitem.borderround  
            h3.centertext
              i.fa.fa-check-square-o.fa-2x.vertical  
              span    Development
        .col-sm-4.col-md-4
          .processitem.borderround
            h3.centertext
              i.fa.fa-check-square-o.fa-2x.vertical  
              span    Support