<!DOCTYPE html>
<html>

<head>
	<title>Simply Apped</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
</head>

<body class="is-preload">

	<!-- Sidebar -->
	<section id="sidebar">
		<div class="inner">
			<nav>
				<ul>
					<li><a href="#intro">Welcome</a></li>
					<li><a href="#services">Services</a></li>
					<!-- <li><a href="#process">Process</a></li> -->
					<li><a href="#contact">Contact</a></li>
				</ul>
			</nav>
		</div>
	</section>

	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Intro -->
		<section id="intro" class="wrapper style1 fullscreen fade-up">
			<div class="inner">
				<img id="logo" src="../img/simplyappedlogo.svg">
				<h2>Professional application development with over 20 years industry experience.</h2>
				<ul class="actions">
					<li><a href="#services" class="button scrolly">Learn more</a></li>
				</ul>
			</div>
		</section>

		<!-- Services -->
		<section id="services" class="wrapper style2 spotlights">
			<section>
				<a href="#" class="image" id="bgwebsite"></a>
				<div class="content">
					<div class="inner">
						<h2>Websites</h2>
						<p>Beautiful websites to showcase your ideas in their best light</p>
						<p>Set up your own website domain and custom email address if required.</p>
						<ul class="actions">
							<li><a href="#contact" class="button">Contact</a></li>
						</ul>
					</div>
				</div>
			</section>
			<section>
				<a href="#" class="image" id="bgapp"></a>
				<div class="content">
					<div class="inner">
						<h2>Mobile Applications</h2>
						<p>Creatively designed and responsive mobile applications available for both iPhone and Android</p>
						<p>Help throughout the entire planning, development and release process.</p>
						<ul class="actions">
							<li><a href="#contact" class="button">Contact</a></li>
						</ul>
					</div>
				</div>
			</section>
			<section>
				<a href="#" class="image" id="bgbackend"></a>
				<div class="content">
					<div class="inner">
						<h2>Full Web Applications</h2>
						<p>Have something bigger in mind? Simply Apped Ltd can provide custom applications tailored to your specific
							requirements.</p>
						<ul>
							<li>Highly Scalable</li>
							<li>Highly Available</li>
							<li>Secure</li>
						</ul>
						<ul class="actions">
							<li><a href="#contact" class="button">Contact</a></li>
						</ul>
					</div>
				</div>
			</section>
		</section>

		<!-- Process
					<section id="process" class="wrapper style3 fade-up">
						<div class="inner">
							<h2>Process</h2>
							<p>No matter the size of the project, you will want to know what you're getting and when, and how much it is going to cost you. 
								That's why at Simply Apped Ltd, a set of processes are followed to make sure you can feel assured you're getting quality and value for money.
							</p>
							<div class="features">
								<section>
									<span class="icon solid major fa-code"></span>
									<h3>Lorem ipsum amet</h3>
									<p>Phasellus convallis elit id ullam corper amet et pulvinar. Duis aliquam turpis mauris, sed ultricies erat dapibus.</p>
								</section>
								<section>
									<span class="icon solid major fa-lock"></span>
									<h3>Aliquam sed nullam</h3>
									<p>Phasellus convallis elit id ullam corper amet et pulvinar. Duis aliquam turpis mauris, sed ultricies erat dapibus.</p>
								</section>
								<section>
									<span class="icon solid major fa-cog"></span>
									<h3>Sed erat ullam corper</h3>
									<p>Phasellus convallis elit id ullam corper amet et pulvinar. Duis aliquam turpis mauris, sed ultricies erat dapibus.</p>
								</section>
								<section>
									<span class="icon solid major fa-desktop"></span>
									<h3>Veroeros quis lorem</h3>
									<p>Phasellus convallis elit id ullam corper amet et pulvinar. Duis aliquam turpis mauris, sed ultricies erat dapibus.</p>
								</section>
								<section>
									<span class="icon solid major fa-link"></span>
									<h3>Urna quis bibendum</h3>
									<p>Phasellus convallis elit id ullam corper amet et pulvinar. Duis aliquam turpis mauris, sed ultricies erat dapibus.</p>
								</section>
								<section>
									<span class="icon major fa-gem"></span>
									<h3>Aliquam urna dapibus</h3>
									<p>Phasellus convallis elit id ullam corper amet et pulvinar. Duis aliquam turpis mauris, sed ultricies erat dapibus.</p>
								</section>
							</div>
							<ul class="actions">
								<li><a href="#contact" class="button">Learn more</a></li>
							</ul>
						</div>
					</section>
 -->
		<!-- Contact -->
		<section id="contact" class="wrapper style1 fade-up">
			<div class="inner">
				<h2>Get in touch</h2>
				<div>
					<section>
						<ul class="contact">
							<li>
								<h3>Email</h3>
								<a href="mailto:info@simplyapped.com">info@simplyapped.com</a>
							</li>
							<li>
								<h3>Phone</h3>
								<span>+44 7818 527554</span>
							</li>
						</ul>
					</section>
				</div>
			</div>
		</section>

	</div>

	<!-- Footer -->
	<footer id="footer" class="wrapper style1-alt">
		<div class="inner">
			<ul class="menu">
				<li>&copy; Simply Apped Ltd. All rights reserved.</li>
			</ul>
		</div>
	</footer>

	<script src="https://code.jquery.com/jquery-3.5.0.slim.min.js"
		integrity="sha256-MlusDLJIP1GRgLrOflUQtshyP0TwT/RHXsI1wWGnQhs=" crossorigin="anonymous"></script>
</body>

</html>